/* Fonts */
@font-face {
  font-family: 'Acknowledgement';
  src: url('fonts/KellySlab-Regular.otf');
  src: url('fonts/KellySlab-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),local('OpenSans'),url('fonts/OpenSans.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'),local('OpenSans-Light'), url('fonts/OpenSans-Light.ttf') format('truetype');
  font-style: Light;
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans LightItalic'),local('OpenSans-LightItalic'), url('fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100;
}
