/* Pre Styles */
header, footer, article, nav, section, aside, hgroup{
		display:block;
	}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td{
	border:0;
	margin:0;
	outline:0;
	padding:0;
}
html{  
	height: 100%; 
	overflow-y: scroll;
}
body {
    color: #000;
    font: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
}
img{
	width: 100%;
	display: block;
}
ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}
p{
    line-height: 1.5em;
    padding: 0.7em 0;
    font-size: 0.9em;
}
article p{
    line-height: 1.8em;
    font-size: 1.45rem;
}
.center{
	margin:0 auto;
	float: none !important;
}
.padd0{
	padding: 0 !important;
}
/*input*/
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="file"]), textarea {
	outline: 0;
	margin:0;
	padding:7px;
	
	font-style: italic;
	color:#A9A796;
	background: #F1F1F1;
	border: 1px solid #DEDEDE;
	border-radius: 0px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.04);
}

input[type="submit"]{
	background: none repeat scroll 0% 0% #3E433E;
	color: #FFF;
	border: 0px none;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 0px;

}

button, input, select, textarea {
	width: auto;
	height: 35px;
	overflow: visible;
	margin: 0;
	font-family: sans-serif;
}
/* End of input */
.content-inner{
	width: 100%;
	margin: 0 auto;
}
#wide .inner-container{
	max-width: 1280px;
	width:100%;
}
.inner-container{
	width: 100%;
	max-width: 1080px;
	margin:0 auto;
	padding: 0 10px;
	position: relative;
}
#main-header{
	min-height: 50px;
	border-bottom: 1px solid rgb(229, 229, 229);
	width: 100%;
}
.logo{
	text-indent: -999px;
	background: url('../images/logo.png');
	background-repeat: no-repeat;
	display: block;
	width: 180px;
	height: 70px;
}
#content-header{
	width: 100%;
	overflow: hidden;
	background:#f9f9f9;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.article-image{
	max-width: 580px;
	width: 100%;
	margin-right: 0;
	margin-left: auto;
	position: relative;
}
#wide .article-image{
	margin-left: 0;
}
.overlay-box{
	position: absolute;
	width: 100%;
	padding:0.5em;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}
.overlay-heading{
	color: #fff;
	font-size: 1.2rem;
}
/* bits container */
.bits-container{
	width: 100%;
	height: 100%;
	position: relative;

}
.bits-heading{
	width: 100%;
	padding: 5px;
	border: 1px solid #EDEDED;
	border-top: none;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1rem;
}
.bits{
	max-height: 300px;
	overflow-y:auto;
	padding-top: 30px;
}
.bit a{
	display: block;
	padding:10px 0; 
	color: #93A1A1;   
	border-bottom: 1px solid rgb(229,229,229);
	text-decoration: none;
}
.bit a:hover *{
	color: rgb(0,0,0) !important;
}
.bit-title{
	font-size: 1.2rem;
	color: #686C68;

}
.more-bits a{
	text-align: right;
	border: none;
}
.cat-list {
	padding-top:20px;
    margin-right: 10px;
    display: inline-block;
}
.cat-list li{
	display: inline-block;
}
.cat-list a{
	border-radius: 5px;
	color: #93A1A1;
	display: inline-block;
	font-size: 0.875rem;
	padding: 5px 10px;
	border: 1px solid #EDEDED;
	text-decoration: none;
	background: #f9f9f9;
}
.cat-list a:hover {
    border-color: #93A1A1;
    color: #7A7A7A;
    background: #fff;
}
.cat-list .active{
	background-color: #fff;
	border-right: 0.3rem solid #ccc;
	border-radius: 0;
}
.cat-desc{
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.cat-desc h1{
	font-size: 1.6rem;
	color: #686C68 ;
}
.cat-desc p{
	font-size: 0.8rem;
	font-style: italic;
	color: #AAB6AA ;
}
.section-link{
	font-size: 0.8em;
}
/* end of bits container */
.ad{
	width: 150px;
	height: 160px;
	background: #cc0;
}
#content-article{
	border-bottom: 1px solid rgb(229, 229, 229);
}
.article-heading{
	margin: 20px auto 10px 0;
	font-size: 2rem;
	line-height: 1.2em;
}
.add-info{
	padding-top: 10px;
	border-top: 5px solid #D5D5D5;
	color: #686C68 !important;
	font-size: 10px;
	text-transform: uppercase;
	font-family: Helvetica,sans-serif,Arial;
}
.top-sharing{
	width: 100%;
	margin-top: 1.3em;
	font-size: 10px;
	text-transform: uppercase;
	font-family: Helvetica,sans-serif,Arial;
}
.top-sharing i{
	margin-right: 0.2em;
	font-size: 1.2em;
	color: #444;
}
.top-sharing a{
	text-decoration: none;
	color: #444;
}
.top-sharing a:hover{
	text-decoration: underline;
}
.top-sharing a:visited{
	text-decoration: line-through;
}
.top-sharing li{
	display: inline-block;
	margin-right: 0.3em;
}
.author-avatar{
	max-width: 105px;
}
.about-author-head{
	margin-bottom: 5px;
}
.author-social{
	margin-top: 5px;
	margin-left: 5px;
}
.top-search{
	width: 100%;
	padding: 10px 0;
}

.search-box{
	width: 89%;
	border: medium none;
	outline-width: 0px;
	padding-left: 15px;
	padding-right: 3.4em;
}
.search-button{
	width: 10%;
}
.article{
	padding: 0 10px 10px 0;
}
.add-on-main{
	border-right: 1px solid #E5E5E5;
	min-height: 200px;
	padding:0 !important;  /*  Removes padding set by row */
}
.add-on-main img{
	max-width: 150px;
}
.article-add-info{
	font-size: 0.7em;
}
.post-list li{
	padding: 15px 0;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.more-post{
	border: none !important;
	text-align: right;
}
.more-post a{
	text-decoration: none;
}
.post-list-title{
	font-size: 1.2em;
}
.post-image-small{
	max-width: 150px;
}
/* Side bar items */

.search img{
	width: auto;
	display: inline-block;
}

#footer{
	height: 200px;
	background: #000;
}
.footer-links{
	list-style: none;
	line-height: 50px;
}
.footer-links li{
	display: inline;
	margin-right: 30px;
}
.footer-links a{
	text-decoration: none;
	color: #fff;
}
.footer-links a:hover{
	text-decoration: underline;
}