/* Pre Styles */
header, footer, article, nav, section, aside, hgroup{
		display:block;
	}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td{
	border:0;
	margin:0;
	outline:0;
	padding:0;
}
img{
	width: 100%;
}
.center{
	margin:0 auto;
	float: none !important;
}
.content-inner{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
#main-header{
	min-height: 50px;
	background: rgb(105, 99, 41);
	width: 100%;
}

#content-header{
	width: 100%;
	min-height: 300px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
}
.article-image{
	max-width: 580px;
	width: 100%;
	margin: 10px 0 10px auto;
}
.artile-heading{
	margin: 110px auto 10px 0;
}
.add-info{
	padding-top: 10px;
	border-top: 1px solid;
}
.article-container{
	width: 100%;
	max-width: 1030px;
	margin:0 auto;
	padding: 0 10px;
	position: relative;
}
.top-sharing{
	width: 100%;
	height: 40px;
	background: #000;
	margin: 20px 0;
}
.article{
	padding: 0 10px 10px 0;
}
.about-author{
	border: 1px solid rgb(229, 229, 229);
	border-bottom: none;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	width: 85%;
	margin: 20px auto 0;
	padding: 10px;
}
.about-author-head{
	font-size: 15px;
	text-align: center;
	margin:10px  auto;
}
.add-on{
	border-top: 1px solid rgb(229, 229, 229);
	min-height: 200px;
}
.comments{
	border-right: 1px solid rgb(229, 229, 229);
	min-height: 200px;
}
#footer{
	height: 400px;
	background: #000;
}